.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 1px solid #000;
  border-radius: 3px;
  max-width: 400px;
  margin: 0 auto;
  margin-top: 30px;
}
.removeBTN {
  width: 20%;
}

p {
  width: 20%;
}
.removeBTN:hover {
  cursor: pointer;
}
