.asd {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 10px;
  border: 1px solid #000;
  border-radius: 4px;
}

.removeBTN {
  font-size: 20px;
}
.removeBTN:hover {
  cursor: pointer;
}
.check {
  padding: 5px 120px;
}

input[type="checkbox"]:checked + p {
  color: #f00;
  font-style: normal;
}
